body {
  font-family: Arial, sans-serif;
  background: #f5f6fa;
  padding: 20px;
}

input, button {
  padding: 10px;
  font-size: 16px;
  margin: 5px 0;
}

button {
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
button:hover {
  background: #45a049;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 15px;
}

h2 {
  margin-top: 15px;
  color: #333;
  text-align: center;
}

h1{
  text-align: center;
}

.clima {
  display: flex;
  align-items: center;
  gap: 15px;
}

.loading {
  color: #555;
}
.erro {
  color: red;
  font-weight: bold;
}

.container{
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
